version: "3.9"
services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env.docker
    volumes:
      - api_storage:/app/storage
    ports:
      - "8001:8001"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001
    networks: [appnet]
  web:
    build:
      context: ./frontend
    depends_on: [api]
    ports:
      - "8080:80"
    networks: [appnet]
networks: { appnet: {} }
volumes: { api_storage: {} }
