APP_HOST=0.0.0.0
APP_PORT=8001
ALLOWED_ORIGINS=http://localhost:8080
MSSQL_ODBC_CONNSTR=DRIVER={ODBC Driver 18 for SQL Server};SERVER=your-sql-host,1433;DATABASE=YourDb;UID=user;PWD=pass;Encrypt=yes;TrustServerCertificate=yes
STORAGE_DIR=./storage
PDF_SUBDIR=pdfs
SIG_SUBDIR=sigs
SFTP_HOST=
SFTP_PORT=22
SFTP_USER=
SFTP_PASS=
SFTP_BASEDIR=/reports
FTP_HOST=
FTP_PORT=21
FTP_USER=
FTP_PASS=
FTP_BASEDIR=/reports
